.pres-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20%;
  padding-right: 5%;
  margin-top: -80px;

}
.prescriptions-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .prescriptions-table th,
  .prescriptions-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .prescriptions-table th {
    background-color: #f0f0f0;
  }
  
  .prescriptions-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .prescriptions-table tbody tr:hover {
    background-color: #eaeaea;
  }
  